In [36]:
library(dplyr)
library(data.table)
library(dtplyr)
library(tidyr)
library(Rfast)

In [55]:
nextclade="./audines11/rez/lineages/BA.2/data.csv"
out="./audines11/rez/lineages/BA.2/sprotein/reference_based_mutation_frequencies.csv"
out_details="./audines11/rez/lineages/BA.2/sprotein/reference_based_mutation_details.csv"

In [31]:
nextclade_df = fread(nextclade)

In [32]:
#get the strain specific
nextclade_df <- nextclade_df %>%
    lazy_dt() %>%
    filter(qc.overallStatus != "bad") %>%
    mutate(LT = (grepl(pattern = "Lithuania", x = country))) %>%
    as.data.table()

In [33]:
N_LT = length(nextclade_df$LT[nextclade_df$LT])
N_NONLT = nrow(nextclade_df) -N_LT 
nextclade_df$LT <- NULL

In [45]:
names = nextclade_df$taxon
substitutions = nextclade_df$aaSubstitutions
deletions = nextclade_df$aaDeletions
insertions = nextclade_df$aaInsertions

In [46]:
out_subs=list()
ct = 0
WT = list()
MUT = list()
POS = list()
SEQ = list()
n_rows = nrow(nextclade_df)
print(n_rows)
for (ctrow in seq(1,n_rows))
{
    if (ctrow %% 10000 ==0){
        print(paste(ctrow/n_rows," part is done"))
        flush.console()
    }
    s = substitutions[[ctrow]]  
    muts = strsplit(split=",",x=s,fixed=T)[[1]]
    aa = grepl(pattern = "S:",muts)
    muts = muts[aa]
    muts = sub(pattern = "S:", replacement = "", x=muts)
    for (m in muts){
        mlength = nchar(m)
        ct = ct + 1
        WT[[ct]]=substr(m,1,1)
        MUT[[ct]]=substr(m,mlength,mlength)
        POS[[ct]]=strtoi(substr(m,2,mlength-1))
        SEQ[[ct]]=names[[ctrow]]        
        }
}
print("Transfering to data table")
flush.console()
out_subs_df = data.table(
    WT=unlist(WT),
    MUT=unlist(MUT),
    POS=unlist(POS),
    SEQ=unlist(SEQ))
out_subs_df$TYPE="SUB"

[1] 615033
[1] "0.0162592901519105  part is done"
[1] "0.0325185803038211  part is done"
[1] "0.0487778704557316  part is done"
[1] "0.0650371606076422  part is done"
[1] "0.0812964507595527  part is done"
[1] "0.0975557409114633  part is done"
[1] "0.113815031063374  part is done"
[1] "0.130074321215284  part is done"
[1] "0.146333611367195  part is done"
[1] "0.162592901519105  part is done"
[1] "0.178852191671016  part is done"
[1] "0.195111481822927  part is done"
[1] "0.211370771974837  part is done"
[1] "0.227630062126748  part is done"
[1] "0.243889352278658  part is done"
[1] "0.260148642430569  part is done"
[1] "0.276407932582479  part is done"
[1] "0.29266722273439  part is done"
[1] "0.3089265128863  part is done"
[1] "0.325185803038211  part is done"
[1] "0.341445093190122  part is done"
[1] "0.357704383342032  part is done"
[1] "0.373963673493943  part is done"
[1] "0.390222963645853  part is done"
[1] "0.406482253797764  part is done"
[1] "0.422741543949674  part is done"
[1] "0.439000834101585  part is done"
[1] "0.455260124253495  part is done"
[1] "0.471519414405406  part is done"
[1] "0.487778704557316  part is done"
[1] "0.504037994709227  part is done"
[1] "0.520297284861138  part is done"
[1] "0.536556575013048  part is done"
[1] "0.552815865164959  part is done"
[1] "0.569075155316869  part is done"
[1] "0.58533444546878  part is done"
[1] "0.60159373562069  part is done"
[1] "0.617853025772601  part is done"
[1] "0.634112315924511  part is done"
[1] "0.650371606076422  part is done"
[1] "0.666630896228332  part is done"
[1] "0.682890186380243  part is done"
[1] "0.699149476532154  part is done"
[1] "0.715408766684064  part is done"
[1] "0.731668056835975  part is done"
[1] "0.747927346987885  part is done"
[1] "0.764186637139796  part is done"
[1] "0.780445927291706  part is done"
[1] "0.796705217443617  part is done"
[1] "0.812964507595527  part is done"
[1] "0.829223797747438  part is done"
[1] "0.845483087899348  part is done"
[1] "0.861742378051259  part is done"
[1] "0.87800166820317  part is done"
[1] "0.89426095835508  part is done"
[1] "0.910520248506991  part is done"
[1] "0.926779538658901  part is done"
[1] "0.943038828810812  part is done"
[1] "0.959298118962722  part is done"
[1] "0.975557409114633  part is done"
[1] "0.991816699266543  part is done"
[1] "Transfering to data table"

In [47]:
out_deletion=list()
ct = 0
WT = list()
MUT = list()
POS = list()
SEQ = list()
n_rows = nrow(nextclade_df)
for (ctrow in seq(1,n_rows))
{
    if (ctrow %% 10000 ==0){
        print(paste(ctrow/n_rows," part is done"))
        flush.console()
    }
    s = deletions[[ctrow]]  
    muts = strsplit(split=",",x=s,fixed=T)[[1]]
    aa = grepl(pattern = "S:",muts)
    muts = muts[aa]
    muts = sub(pattern = "S:", replacement = "", x=muts)
    for (m in muts){
        mlength = nchar(m)
        ct = ct + 1           
        WT[[ct]]=substr(m,1,1)
        MUT[[ct]]=substr(m,mlength,mlength)
        POS[[ct]]=strtoi(substr(m,2,mlength-1))
        SEQ[[ct]]=names[[ctrow]]        
        }
    
}
print("Transfering to data table")
flush.console()
out_deletion_df = data.table(
    WT=unlist(WT),
    MUT=unlist(MUT),
    POS=unlist(POS),
    SEQ=unlist(SEQ))
out_deletion_df$TYPE="DEL"

[1] "0.0162592901519105  part is done"
[1] "0.0325185803038211  part is done"
[1] "0.0487778704557316  part is done"
[1] "0.0650371606076422  part is done"
[1] "0.0812964507595527  part is done"
[1] "0.0975557409114633  part is done"
[1] "0.113815031063374  part is done"
[1] "0.130074321215284  part is done"
[1] "0.146333611367195  part is done"
[1] "0.162592901519105  part is done"
[1] "0.178852191671016  part is done"
[1] "0.195111481822927  part is done"
[1] "0.211370771974837  part is done"
[1] "0.227630062126748  part is done"
[1] "0.243889352278658  part is done"
[1] "0.260148642430569  part is done"
[1] "0.276407932582479  part is done"
[1] "0.29266722273439  part is done"
[1] "0.3089265128863  part is done"
[1] "0.325185803038211  part is done"
[1] "0.341445093190122  part is done"
[1] "0.357704383342032  part is done"
[1] "0.373963673493943  part is done"
[1] "0.390222963645853  part is done"
[1] "0.406482253797764  part is done"
[1] "0.422741543949674  part is done"
[1] "0.439000834101585  part is done"
[1] "0.455260124253495  part is done"
[1] "0.471519414405406  part is done"
[1] "0.487778704557316  part is done"
[1] "0.504037994709227  part is done"
[1] "0.520297284861138  part is done"
[1] "0.536556575013048  part is done"
[1] "0.552815865164959  part is done"
[1] "0.569075155316869  part is done"
[1] "0.58533444546878  part is done"
[1] "0.60159373562069  part is done"
[1] "0.617853025772601  part is done"
[1] "0.634112315924511  part is done"
[1] "0.650371606076422  part is done"
[1] "0.666630896228332  part is done"
[1] "0.682890186380243  part is done"
[1] "0.699149476532154  part is done"
[1] "0.715408766684064  part is done"
[1] "0.731668056835975  part is done"
[1] "0.747927346987885  part is done"
[1] "0.764186637139796  part is done"
[1] "0.780445927291706  part is done"
[1] "0.796705217443617  part is done"
[1] "0.812964507595527  part is done"
[1] "0.829223797747438  part is done"
[1] "0.845483087899348  part is done"
[1] "0.861742378051259  part is done"
[1] "0.87800166820317  part is done"
[1] "0.89426095835508  part is done"
[1] "0.910520248506991  part is done"
[1] "0.926779538658901  part is done"
[1] "0.943038828810812  part is done"
[1] "0.959298118962722  part is done"
[1] "0.975557409114633  part is done"
[1] "0.991816699266543  part is done"
[1] "Transfering to data table"

In [48]:
out_insertion=list()
ct = 0
WT = list()
MUT = list()
POS = list()
SEQ = list()
n_rows = nrow(nextclade_df)
for (ctrow in seq(1,n_rows))
{
    if (ctrow %% 10000 ==0){
        print(paste(ctrow/n_rows," part is done"))
        flush.console()
    }
    s = insertions[[ctrow]]  
    muts = strsplit(split=",",x=s,fixed=T)[[1]]
    aa = grepl(pattern = "S:",muts)
    muts = muts[aa]
    muts = sub(pattern = "S:", replacement = "", x=muts)    
    for (m in muts){
        mlength = nchar(m)
        ct = ct + 1
        parts= strsplit(split = ":",fixed = T, x = m)[[1]] 
        WT[[ct]]=NA
        MUT[[ct]]=parts[[2]]
        POS[[ct]]=strtoi(parts[[1]])
        SEQ[[ct]]=names[[ctrow]]        
        }
    
}
out_insertion_df = data.table(
    WT=unlist(WT),
    MUT=unlist(MUT),
    POS=unlist(POS),
    SEQ=unlist(SEQ))
out_insertion_df$TYPE="INS"

[1] "0.0162592901519105  part is done"
[1] "0.0325185803038211  part is done"
[1] "0.0487778704557316  part is done"
[1] "0.0650371606076422  part is done"
[1] "0.0812964507595527  part is done"
[1] "0.0975557409114633  part is done"
[1] "0.113815031063374  part is done"
[1] "0.130074321215284  part is done"
[1] "0.146333611367195  part is done"
[1] "0.162592901519105  part is done"
[1] "0.178852191671016  part is done"
[1] "0.195111481822927  part is done"
[1] "0.211370771974837  part is done"
[1] "0.227630062126748  part is done"
[1] "0.243889352278658  part is done"
[1] "0.260148642430569  part is done"
[1] "0.276407932582479  part is done"
[1] "0.29266722273439  part is done"
[1] "0.3089265128863  part is done"
[1] "0.325185803038211  part is done"
[1] "0.341445093190122  part is done"
[1] "0.357704383342032  part is done"
[1] "0.373963673493943  part is done"
[1] "0.390222963645853  part is done"
[1] "0.406482253797764  part is done"
[1] "0.422741543949674  part is done"
[1] "0.439000834101585  part is done"
[1] "0.455260124253495  part is done"
[1] "0.471519414405406  part is done"
[1] "0.487778704557316  part is done"
[1] "0.504037994709227  part is done"
[1] "0.520297284861138  part is done"
[1] "0.536556575013048  part is done"
[1] "0.552815865164959  part is done"
[1] "0.569075155316869  part is done"
[1] "0.58533444546878  part is done"
[1] "0.60159373562069  part is done"
[1] "0.617853025772601  part is done"
[1] "0.634112315924511  part is done"
[1] "0.650371606076422  part is done"
[1] "0.666630896228332  part is done"
[1] "0.682890186380243  part is done"
[1] "0.699149476532154  part is done"
[1] "0.715408766684064  part is done"
[1] "0.731668056835975  part is done"
[1] "0.747927346987885  part is done"
[1] "0.764186637139796  part is done"
[1] "0.780445927291706  part is done"
[1] "0.796705217443617  part is done"
[1] "0.812964507595527  part is done"
[1] "0.829223797747438  part is done"
[1] "0.845483087899348  part is done"
[1] "0.861742378051259  part is done"
[1] "0.87800166820317  part is done"
[1] "0.89426095835508  part is done"
[1] "0.910520248506991  part is done"
[1] "0.926779538658901  part is done"
[1] "0.943038828810812  part is done"
[1] "0.959298118962722  part is done"
[1] "0.975557409114633  part is done"
[1] "0.991816699266543  part is done"

In [49]:
all = bind_rows(out_insertion_df,out_subs_df,out_deletion_df) %>%
    lazy_dt() %>%
    mutate(LT=ifelse(grepl(pattern = "Lithuania",SEQ),"LT","NONLT")) %>%
    as.data.table()
head(all)

  WT MUT POS SEQ                      TYPE LT
1 NA SGR 212 Denmark/DCGC-455294/2022 INS  NONLT
2 NA SGR 212 Denmark/DCGC-368227/2022 INS  NONLT
3 NA SGR 212 Denmark/DCGC-455303/2022 INS  NONLT
4 NA SGR 212 Denmark/DCGC-455311/2022 INS  NONLT
5 NA SGR 212 Denmark/DCGC-455323/2022 INS  NONLT
6 NA SGR 212 Denmark/DCGC-456780/2022 INS  NONLT

  WT MUT POS SEQ                    TYPE LT
1 T  I    19 Lithuania/S22C453/2022 SUB  LT
2 A  S    27 Lithuania/S22C453/2022 SUB  LT
3 G  D   142 Lithuania/S22C453/2022 SUB  LT
4 V  G   213 Lithuania/S22C453/2022 SUB  LT
5 G  D   339 Lithuania/S22C453/2022 SUB  LT
6 S  F   371 Lithuania/S22C453/2022 SUB  LT

In [50]:
pos_sum = all %>%
    group_by(POS,TYPE,LT) %>%
    summarise(N=as.double(n())) %>%
    ungroup() %>%
    as.data.table()
if (N_LT > 0) {
    pos_sum[LT=="LT"]$N = pos_sum[LT=="LT"]$N/N_LT
    }
pos_sum[LT=="NONLT"]$N = pos_sum[LT=="NONLT"]$N/N_NONLT
N_ALL = nrow(nextclade_df)

`summarise()` has grouped output by 'POS', 'TYPE'. You can override using the `.groups` argument.

In [51]:
position_wise = dcast(pos_sum,POS ~ TYPE + LT,value.var = "N")
#check if Lithuanian dat exits
for (cl in list("DEL_LT","INS_LT","SUB_LT","DEL_NONLT","INS_NONLT","SUB_NONLT")) {
    if (!(cl %in% names(position_wise))) {
        position_wise[,eval(cl)] <- as.double(NA)
    }
}
head(position_wise)

  POS DEL_LT DEL_NONLT    INS_NONLT    SUB_LT      SUB_NONLT    INS_LT
1 1   NA               NA           NA          NA 1.630239e-06 NA
2 2   NA               NA           NA          NA 1.108563e-04 NA
3 3   NA     8.151195e-06 3.260478e-06          NA 7.173051e-05 NA
4 4   NA               NA           NA          NA 1.304191e-05 NA
5 5   NA     2.445358e-05           NA 0.006765068 1.036343e-02 NA
6 6   NA     1.630239e-06           NA          NA 1.565029e-04 NA

In [52]:
position_wise[is.na(position_wise)] <- 0
position_wise[, 
              SUM_NONLT := sum(DEL_NONLT,INS_NONLT,SUB_NONLT,na.rm = T),
              by=1:nrow(position_wise)]
              
position_wise[, 
              SUM_LT := sum(DEL_LT,INS_LT,SUB_LT,na.rm = T),
              by=1:nrow(position_wise)]
position_wise[, 
              DSUM_LT := SUM_LT -  SUM_NONLT]       
head(position_wise)

  POS DEL_LT DEL_NONLT    INS_NONLT    SUB_LT      SUB_NONLT    INS_LT
1 1   0      0.000000e+00 0.000000e+00 0.000000000 1.630239e-06 0
2 2   0      0.000000e+00 0.000000e+00 0.000000000 1.108563e-04 0
3 3   0      8.151195e-06 3.260478e-06 0.000000000 7.173051e-05 0
4 4   0      0.000000e+00 0.000000e+00 0.000000000 1.304191e-05 0
5 5   0      2.445358e-05 0.000000e+00 0.006765068 1.036343e-02 0
6 6   0      1.630239e-06 0.000000e+00 0.000000000 1.565029e-04 0
  SUM_NONLT    SUM_LT      DSUM_LT
1 1.630239e-06 0.000000000 -1.630239e-06
2 1.108563e-04 0.000000000 -1.108563e-04
3 8.314219e-05 0.000000000 -8.314219e-05
4 1.304191e-05 0.000000000 -1.304191e-05
5 1.038788e-02 0.006765068 -3.622815e-03
6 1.581332e-04 0.000000000 -1.581332e-04

In [56]:
fwrite(x = position_wise,file = out)
fwrite(x = all,file = out_details)